*{
    margin: 0;
    padding: 0;
}
/* navbar */
nav{
    background-color: #f5e4edd0;
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&& ACCUEIL &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* chiffres */
.chiffres{
    color: #fff;
    background-color: #273C31;
}
#graph1, #graph2, #cake{
font-size:50px;
}

span{
    font-size: 30px;
}

p{
    padding: 0px 0px 0px 40px;
}

/* Footer */
footer{
    color: #fff;
    background-color: #273C31;
}

.logo{
    width: 150px;
}